div.mas-log-upgoing { width: 60%;}
div.mas-log-upgoing > div.mas-status { margin-left: 25px; color: #DDDDDD; font-size: 12px; }
div.mas-log-upgoing > div.mas-content {
	position:relative;
	margin-left: 10px;
	width: 300px;
	margin-bottom: 3px;
	background:#aedc42;
	padding:15px;
	display: block;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
div.mas-log-upgoing > div.mas-content:after {
	top:16px;
	content:"";
	position:absolute;
	bottom:-15px;
	left:50px;
	border-width:15px 15px 0;
	border-style:solid;
	border-color:#aedc42 transparent;
	display:block; 
	width:0;
	left:-10px;
	bottom:auto;
	border-width:10px 10px 10px 0;
	border-color:transparent #aedc42;
}

div.mas-log-downgoing {width: 60%; margin-left: 40%;}
div.mas-log-downgoing > div.mas-status {margin-left: 25px; color: #DDDDDD; font-size: 12px;}
div.mas-log-downgoing > div.mas-content {
	position:relative;
	margin-left: 10px;
	width: 300px;
	margin-bottom: 3px;
	background:#aedc42;
	padding:15px;
	display: block;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;}

div.mas-log-downgoing > div.mas-content:after {
	top:16px;
	content:"";
	position:absolute;
	bottom:-15px;
	right:-10px;
	border-width:15px 15px 0;
	border-style:solid;
	border-color:#white transparent;
	display:block; 
	width:0;
	right:-10px;
	bottom:auto;
	border-width:10px 0 10px 10px;
	border-color:transparent #aedc42;
}

div.mas-log-downgoing > div.mas-content.mas-error {background:red;}
div.mas-log-downgoing > div.mas-content.mas-error:after {border-color:transparent red;}
